{% extends 'videos/base.html' %}
{% load static %}
{% block title %} Новий пароль {% endblock title %}
{% block css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/users.css' %}?v=1">
{% endblock css %}

{% block content %}
<div class="auth__container password-reset__container success-password-reset__container">
    <h2>Пароль змінено</h2>
    <p>Вітаємо! Ви успішно змінили пароль свого акаунту.</p>
    <p>Використайте його для <a href="{% url 'users:login-user' %}">входу в акаунт.</a></p>
</div>


{% endblock content %}