{% extends 'videos/base.html' %}
{% load static %}
{% block title %} Новий пароль {% endblock title %}
{% block css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/users.css' %}?v=1">
{% endblock css %}

{% block content %}
<div class="auth__container password-reset__container success-password-reset__container">
    <h2>Пароль змінено</h2>
    <p>Вітаємо! Ви успішно змінили пароль свого акаунту.</p>
    <p>Використайте його для <a href="{% url 'users:login-user' %}">входу в акаунт.</a></p>
    <p class="no-items" style="margin-top: 7.5px;">Автоматичний редирект через 5 секунд..</p>
</div>

<div class="success__countdown-timer">
    <p>5</p>
</div>

{% endblock content %}

{% block scripts %}
<script src="{% static 'users/js/countdownTimer.js' %}"></script>
{% endblock scripts %}