{% load static %}
<div class="playlist__card">
    <a href="{{ playlist.get_absolute_url }}" class="playlist__link">
        {% if playlist.saving_playlist.get_first_video_thumbnail %}
            <img src="{{ playlist.get_first_video_thumbnail.url }}" alt="{{ playlist.title }}">
        {% else %}
            <img src="{% static 'videos/images/default.png' %}" alt="{{ playlist.title }}">
        {% endif %}
    </a>
    <div class="playlist-card__info">
        <a href="{{ playlist.saving_playlist.get_absolute_url }}" class="playlist-card__title">
            {{ playlist.saving_playlist.title }}
        </a>
        <a href="{% url 'users:channel-detail' playlist.creator %}">
            <p>@{{ playlist.saving_playlist.creator }}</p>
        </a>
        <div class="playlist-card__meta">
            <span>{{ playlist.saving_playlist.count_videos }} відео</span>
            <span>{{ playlist.saving_playlist.visibility }}</span>
        </div>
    </div>
</div>
