:root {
    --main-purple: #8600ea;
    --hover-purple: #6500b2;
    --main-bg: #0e0d10;
    --side-menu-bg: #111;
    --action-hover: #666;
    --no-items: #595959;
    --modal-gray: #1e1e1e;
    --error-red: #ff4d4d;
    --auth-btn: #238636;
    --auth-btn-hover: #2ea043;
    --subscribe-btn: #FF0000;
    --text-light-gray: #ccc;
    --link-blue: #58a6ff;
    --dark-gray-header-bg: #18171b;
    --dropdown-menu-btn-hover: #3a3a3a;
    --input-dark-gray-bg: #222;
    --channel-owner-btn: #007BFF;
    --white: #fff;
    --black: #000;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: var(--main-bg);
    color: var(--white);
    overflow-x: hidden;
}

html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}
  
main {
    display: block;
}
  
h1 {
    font-size: 2em;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

input {
    width: 100%;
    padding: 7px;
    background: var(--dark-gray-header-bg);
    border: 1px solid #30363d;
    border-radius: 6px;
    color: #c9d1d9;
    font-size: 14px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: var(--main-purple);
    box-shadow: 0 0 5px rgba(88, 166, 255, 0.5);
}
  
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible; 
}
  
pre {
    font-family: monospace, monospace;
    font-size: 1em;
}
  
  
a {
    background-color: transparent;
    text-decoration: none;
}
  
  
abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

  
b,
strong {
    font-weight: bolder;
}
  
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
  
  
small {
    font-size: 80%;
}
  
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
  
sub {
    bottom: -0.25em;
}
  
sup {
    top: -0.5em;
}
    
img {
    border-style: none;
}
  
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15; 
    margin: 0; 
}
  
button,
input { 
    overflow: visible;
}
  
button,
select {
    text-transform: none;
}
  
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}
  
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
  
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
  
fieldset {
    padding: 0.35em 0.75em 0.625em;
}
  
legend {
    box-sizing: border-box;
    color: inherit;
    display: table; 
    max-width: 100%; 
    padding: 0; 
    white-space: normal; 
}
  
progress {
    vertical-align: baseline;
}
  
textarea {
    overflow: auto;
}
  
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; 
    padding: 0; 
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
  
[type="search"] {
    -webkit-appearance: textfield; 
    outline-offset: -2px;
}
  
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button; 
    font: inherit;
}
  
details {
    display: block;
}
    
summary {
    display: list-item;
}
  
template {
    display: none;
}
    
[hidden] {
    display: none;
}

.notifications__page::-webkit-scrollbar {
    width: 0.4em;
}

.notifications__page::-webkit-scrollbar-thumb { 
    background-color: var(--no-items);
    border-radius: 100vw;
}


/* ############################################################################### */

/* GENERAL USE STYLES */

.media__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px 20px 20px 0;
    color: var(--white);
    box-sizing: border-box;
}

.media-action__button {
    background-color: var(--modal-gray);
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.media-action__button:hover {
    background-color: var(--action-hover);
    transform: translateY(-2px);
}

.form__field {
    text-align: left;
    margin-bottom: 25px;
}

.no-items {
    color: var(--no-items);
    font-size: 1rem;
    grid-column: span 2;
}

.errorlist {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: 5px 0 0;
    color: var(--error-red);
    font-size: 13px;
}

.errorlist li {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 4px;
}

.button {
    font-size: 1rem;
    font-weight: 600;
    color: var(--white);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--main-purple);
    transition: background-color 0.3s; 
}

.button:hover {
    background-color: var(--hover-purple);
}

.outline__button {
    background-color: transparent;
    color: var(--main-purple);
    border: 3px solid var(--main-purple);
    transition: all 0.3s ease;
}

.outline__button:hover {
    background-color: transparent;
    border: 3px solid var(--hover-purple);
    color: var(--hover-purple);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

.modal__content {
    background: var(--modal-gray);
    color: var(--white);
    margin: 10% auto;
    padding: 20px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
}

.modal__content h2 {
    font-size: 20px;
    margin-bottom: 30px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modal-close__button {
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-light-gray);
    cursor: pointer;
    transition: color 0.3s;
}

.modal-close__button:hover {
    color: var(--white);
}

.modal-content__text {
    font-weight: 400;
    text-align: left;
    font-size: 16px;
} 

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
    left: 0;
    background: var(--modal-gray);
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    min-width: 150px;
    z-index: 10;

    margin-top: 10px;
}

.dropdown__content button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: var(--white);
    padding: 12px 16px;
    width: 100%;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
    white-space: nowrap;
}

.dropdown__content button:hover {
    background: var(--dropdown-menu-btn-hover);
}

.dropdown__content button i {
    font-size: 1.25rem; 
    max-width: 20px;
    width: 20px;
    text-align: center;
}

.show {
    display: block;
}

.flex-end__aligner {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

/* ############################################################################### */

/* BASE FILE STYLES */


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: var(--dark-gray-header-bg);
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
}

.burger-menu {
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.burger-menu:hover {
    background-color: var(--action-hover);
}

.header .logo {
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.header .logo img {
    max-height: 35px;
    width: auto;
}

.header .search-bar {
    flex-grow: 1;
    margin: 0 20px;
    display: flex;
}

.header .search-bar input {
    flex-grow: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: var(--input-dark-gray-bg);
    color: var(--white);
}

.header .actions {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header .actions i {
    cursor: pointer;
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.header .actions i:hover {
    background-color: var(--action-hover);
}

.header a {
    text-decoration: none;
    color: var(--white);
}

.side-menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: var(--side-menu-bg);
    overflow-y: auto;
    transition: left 0.3s;
    z-index: 999;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    padding-top: 50px;
}

.close-menu {
    position: absolute;
    top: 15px;
    left: 20px;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
}

.side-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-menu ul li {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.side-menu ul li:hover {
    background-color: var(--input-dark-gray-bg);
}

.side-menu ul li i {
    margin-right: 15px;
}

.side-menu ul li span {
    font-size: 1.3rem;
}

.side-menu ul a {
    color: var(--white);
}

.side-menu.show {
    left: 0;
}

main {
    margin-top: 30px;
    padding: 20px;
}

.notifications__container {
    position: relative;
}

.notifications__trigger {
    position: relative;
}

.notifications__badge {
    display: none;
    position: absolute;
    top: -5px;
    right: -10px;
    padding: 3px 7px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font-size: 14px;
    z-index: 800;
}

.notifications__badge.show {
    display: block;
}

.notifications__page {
    display: none;
    position: absolute;
    background-color: var(--modal-gray);
    width: 400px;
    max-height: 500px;
    overflow-y: scroll;
    border-radius: 8px;
    right: 0;
    top: 45px;
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.notifications__page.show {
    display: block;
}

.notifications-page__title {
    font-size: 18px;
    padding: 20px 20px 5px 20px;
}

.notifications__no-items {
    padding: 20px;
}

.notification {
    cursor: pointer;
    padding: 20px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.notification:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.notification:hover {
    background-color: var(--dropdown-menu-btn-hover);
}

.notification__content {
    display: flex;
    flex-direction: column;
}

.notification__timedate {
    margin-top: 10px;
    font-size: 14px;
    color: var(--no-items)
}





/* UPLOAD PAGE STYLES */
.upload-form__container {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--side-menu-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
}

.upload-form__container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--white);
}

.upload-form__container form {
    display: flex;
    flex-direction: column;
}

.upload-form__container label {
    font-size: 1rem;
    color: var(--text-light-gray);
    margin-bottom: 5px;
}

.upload-form__container p label {
    display: block;
    margin-bottom: 10px;
}

.upload-form__container input[type="text"],
.upload-form__container textarea,
.upload-form__container select,
.upload-form__container input[type="file"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--input-dark-gray-bg);
    color: var(--white);
    font-size: 1rem;
    box-sizing: border-box;
}

.upload-form__container textarea {
    resize: none;
    height: 150px;
}

.upload-form__container input[type="file"]::-webkit-file-upload-button {
    padding: 8px 12px;
    background-color: #444;
    border: none;
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
}

/* VIDEO STYLES */

.video__card, .playlist__card {
    background-color: var(--side-menu-bg);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;
    display: flex;
    flex-direction: column;
}

.video__card:hover, .playlist__card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.video__card img, .playlist__card img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    max-height: 200px;
}

.video-card__info, .playlist-card__info {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.video-card__title,  .playlist-card__title {
    display: inline-block;
    width: fit-content;
    text-decoration: none !important;
    font-size: 1rem;
    margin: 0 0 5px;
    color: var(--white);
    font-weight: 600;
}

.video-card__title:hover, .playlist-card__title:hover {
    color: var(--hover-purple)
}

.video-card__info p, .playlist-card__info p {
    display: inline-block;
    font-size: 0.875rem;
    margin: 0;
    color: var(--text-light-gray);
}

.video-card__info p:hover, .playlist-card__info p:hover {
    color: var(--white);
}

.video-card__meta, .playlist-card__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    margin-top: 10px;
    color: #aaa;
}

.video-detail__page {
    margin: 0 auto;
    color: var(--white);
    border-radius: 12px;
}

.video-detail__player video {
    width: 100%;
    border-radius: 12px;
    background-color: var(--black);
    margin-bottom: 20px;
}

.video-detail__details {
    padding: 15px;
    border-radius: 12px;
}

.video-detail__title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.video-detail__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.video-detail-channel__info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.video-detail-channel__subscribe {
    display: flex;
    align-items: center;
    gap: 10px;
}

.video-detail__flex-column {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.video-detail__flex-column p {
    font-size: 16px;
    color: var(--no-items);
}

.video-detail-channel__subscribe a {
    text-decoration: none;
}

.video-detail-channel__subscribe h3 {
    margin: 0;
    font-size: 1.1rem;
    color: var(--white);
}

.video-detail-channel__subscribe h3:hover {
    color: #c7c7c7;
}

.upload-date {
    font-size: 0.875rem;
    color: var(--text-light-gray);
}

.video-detail__action-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.video-detail__views-count, .video-detail__upload-date {
    font-size: 0.9rem;
    color: var(--text-light-gray);
}

.video-detail__upload-date {
    font-weight: 600;
}

.video-detail__description_text {
    color: --white;
}

.like-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.like__button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--action-hover);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
    gap: 6px;
}

.like__button i {
    font-size: 18px;
}

.like__button .like__count {
    font-size: 16px;
    font-weight: bold;
}

.like__button.liked {
    background-color: #777777;
    color: var(--white);
    box-shadow: 0px 4px 6px rgba(199, 199, 199, 0.4);
}

.like__button.not-liked {
    /* background-color: #f0f0f0; */
    color: var(--white);
}

.like__button:hover {
    background-color: var(--action-hover);
}


.video-detail__description {
    font-size: 1rem;
    color: var(--text-light-gray);
    line-height: 1.5;
    background-color: #272727;
    border-radius: 12px;
    padding: 10px;
    margin-top: 20px;
}

.comments__section {
    margin-top: 30px;
    padding: 15px;
    border-radius: 12px;
    max-width: 100%;
    overflow: hidden;
}
.comments__section h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: var(--white);
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.comment__body {
    display: flex;
    flex-direction: column;
}

.comment__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment__actions {
    display: flex;
    gap: 10px;
    margin-top: 5px;
}

.comment__header h4 {
    font-size: 1rem;
    color: var(--white);
    margin: 0;
}

.comment__datetime {
    font-size: 0.8rem;
    color: #aaa;
}

.comment__body p {
    font-size: 0.9rem;
    color: var(--text-light-gray);
    margin: 5px 0;
}

.comment__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    margin-top: 20px;
}

.comment__form textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: var(--input-dark-gray-bg);
    color: var(--white);
    font-size: 1rem;
    resize: none;
    height: 100px;
    box-sizing: border-box;
}

.reply-button:hover {
    text-decoration: underline;
}

.reply-count {
    color: #ccc;
}

.reply__form {
    margin-top: 10px;
    padding-left: 20px;
    max-width: 80%;
}

.reply__form textarea {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 6px;
    background-color: var(--input-dark-gray-bg);
    color: var(--white);
    font-size: 0.9rem;
    resize: none;
    height: 70px;
    box-sizing: border-box;
}

.reply__form button {
    margin-top: 7.5px;
}

.reply {
    margin-left: 30px;
    padding: 8px;
    border-radius: 6px;
    margin-top: 15px;
}

.reply__button {
    font-size: 0.9rem;
    color: var(--white);
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.reply__button:hover {
    background-color: var(--action-hover);
}

.toggle-replies__button { 
    font-size: 0.9rem;
    color: var(--white);
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.toggle-replies__button:hover {
    text-decoration: underline;
}


/* USERS APP */
.channel-container {
    max-width: 95%;
    min-width: 95%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    margin-top: 30px;
}

.channel-view {
    border-radius: 10px;
}

.channel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.channel-info h2 {
    margin: 0;
    font-size: 1.5rem;
}

.channel-info p {
    color: var(--text-light-gray);
    font-size: 0.9rem;
}

.subscribe__button {
    padding: 8px 15px;
    font-size: 0.9rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.subscribe__button:not(.subscribed) {
    background-color: var(--subscribe-btn);
    color: var(--white);
}

.subscribe__button.subscribed {
    background-color: var(--modal-gray);
    color: var(--text-light-gray);
}

.channel-owner__button {
    background-color: var(--channel-owner-btn) !important;
}

.channel-menu {
    display: flex;
    gap: 10px;
    border-bottom: 2px solid #222;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.menu-tab {
    background: none;
    border: none;
    font-size: 1rem;
    padding: 8px 12px;
    cursor: pointer;
    color: #aaa;
    transition: color 0.3s, border-bottom 0.3s;
}

.menu-tab.active {
    color: var(--white);
    border-bottom: 2px solid var(--white);
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.auth__container {
    margin: 0 auto;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 20%;
    text-align: center;
    border: solid 1px #181818;
    margin-top: 50px;
}

.auth__container h2 {
    font-size: 20px;
    margin-bottom: 30px;
}

.auth__button {
    width: 100%;
    background-color: var(--auth-btn);
}

.auth__button:hover {
    background-color: var(--auth-btn-hover);
}

.login-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: var(--link-blue);
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}

input.error {
    border-color: var(--error-red);
    box-shadow: 0 0 5px rgba(255, 77, 77, 0.5);
}

input.error:focus {
    border-color: #ff7878;
    box-shadow: 0 0 8px rgba(255, 77, 77, 0.7);
}


/* SUBS PAGE */

.subscriptions__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

.subscriptions__container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 80px;
    padding: 20px 20px 20px 0;
    color: var(--white);
    box-sizing: border-box;
}

.subscription__template {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}

.subscription__template a {
    color: var(--white);
}

.subscription__template a:hover {
    color: var(--text-light-gray);
}

.subscription__template p {
    text-align: center;
    color: var(--text-light-gray)
}

.subscription__pfp {
    font-size: 32px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: var(--dark-gray-header-bg);
}

/* WATCH HISTORY PAGE  */

.wh__container {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.wh-section__title {
    margin-bottom: 35px !important;
}

.wh__video-card {
    flex-direction: row !important;
}
.wh__video-card:hover {
    transform: none;
    box-shadow: none;
}

.wh-video-card__title {
    font-size: 1.6rem;
}

.wh-video-card__info p {
    font-size: 1.1rem;
    margin-top: 5px;
}

.wh-video-card__description {
    max-width: 600px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.wh-delete__button {
    font-size: 2rem;
    background: none;
    border: none;
}


/* PLAYLIST */

.playlists__container {
    margin: 0 auto;
    padding: 20px;
    color: var(--white);
}

.playlist-card__thumbnail {
    position: relative;
}

.playlist-card__thumbnail i {
    position: absolute;
    top: 7.5px;
    left: 7.5px;
}

.playlist-spc-btwn__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.playlist-section__title, .sl-section__title, .wh-section__title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 15px;
}

.playlists__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.playlist-detail__container {
    max-width: 95%;
    min-width: 95%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    margin-top: 30px;
}

.playlist-detail__background {
    margin: 0 auto;
    padding: 20px;
    color: var(--white);
    border-radius: 12px;
}

.playlist-detail__title {
    font-size: 1.1rem;
    font-weight: bold;
    display: block;
}

.playlist-page__form .modal__content {
    background: var(--modal-gray);
    color: var(--white);
    text-align: center;
}

.playlist-page__form .modal__content h2 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
}

.playlist-page__form .form__field {
    text-align: left;
    margin-bottom: 15px;
}

.playlist-page__form .form__field label {
    display: block;
    font-size: 14px;
    color: var(--text-light-gray);
    margin-bottom: 5px;
}

.playlist-page__form .form__field input, .playlist-page__form .form__field select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    background: #292929;
    border: 1px solid #444;
    border-radius: 6px;
    color: var(--white);
    transition: border 0.3s, background 0.3s;
}

.playlist-page__form .modal__content label::before {
    content: none;
}

.playlist-actions__button {
    background: var(--modal-gray);
    color: var(--white);
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.playlist-actions__button i {
    pointer-events: none;
}

.playlist-actions__button:hover {
    background: #292929;
}

.playlist-actions__button:active {
    transform: scale(0.95);
}