<div id="channelActionsDropdown" class="dropdown__content" data-subscription-id="{{ subscription_id }}">
      <button type="button" onclick="enableNotifications()"><i class="fa-solid fa-bell" style="color: #ffffff; padding-right: 20px;"></i>Увімкнути</button>
      <button type="button" onclick="disableNotifications()"><i class="fa-regular fa-bell" style="color: #ffffff; padding-right: 20px;"></i>Вимкнути</button>
      <button type="button" onclick="unsubscribe(event)"><i class="fa-solid fa-user-minus" style="color: #ffffff; padding-right: 20px;"></i>Відписатися</button>
</div>