{% extends 'videos/base.html' %}
{% load static %}
{% block css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/users.css' %}?v=1">
{% endblock css %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
<div class="dashboard__container">
    <div class="dashboard__sidemenu">
        <ul>
            <a href="{% url 'users:manage-channel-content' %}">
                <li><i class="fa-solid fa-list-check" style="color: #ffffff;"></i><span>Контент</span></li>
            </a>
            <a>
                <li><i class="fa-solid fa-wand-magic-sparkles" style="color: #ffffff;"></i><span>Кастомізація</span></li>
            </a>
        </ul>
    </div>
    <h2 class="dashboard__section-title">Кастомізація</h2>
    <div class="dashboard__content">
        <div class="dashboard-form__field">
            <label for="dashboard_change_username">Ім'я користувача</label>
            <input type="text" id="dashboard_change_username" readonly value="@{{ request.user.username }}">
        </div>

        <form method="POST">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% for field in form %}
                    <div class="dashboard-form__field">
                        {% if field.errors %}
                            {{ field.label_tag }} {{ field }}
                            <ul class="errorlist">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {{ field.label_tag }} {{ field }}
                        {% endif %}
                    </div>
                {% endfor %}
                <div style="display: flex; justify-content: flex-end;">
                    <button class="button" type="submit">Оновити</button>
                </div>
        </form>
    </div>
</div>
{% endblock %}