{% extends 'videos/base.html' %}
{% block title %} {{ title }} {% endblock title %}
{% load static %}
{% block content %}
<div>
    <h2 class="section__title video-edit__section-title">Огляд відео</h2>
    <div style="display: flex;">
        <div class="video-edit-80">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% for field in form %}
                    <div class="dashboard-form__field">
                        {% if field.errors %}
                            {{ field.label_tag }} {{ field }}
                            <ul class="errorlist">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {% if field.name == 'description' %}
                            {{ field.label_tag }} {{ field }}
                            <p class="chars__counter">0/5000</p>
                            {% else %}
                            {{ field.label_tag }} {{ field }}
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
                <div style="display: flex; justify-content: flex-end;">
                    <button class="button" type="submit">Зберегти</button>
                </div>
            </form>
        </div>
        <div class="video-edit-20">
            <div class="video-edit__image-preview">
                <img src="{{ form.instance.thumbnail.url }}" alt="preview" id="video_thumbnail_overview">
            </div>
        </div>
    </div>
</div>

<script src="{% static 'videos/js/textAreaCharsCount.js' %}"></script>
{% endblock %}