{% extends 'videos/base.html' %}
{% load static %}
{% block css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'videos/css/shared.css' %}?v=1">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/users.css' %}?v=1">
{% endblock css %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
<div class="dashboard__container">
    <div class="dashboard__sidemenu">
        <ul>
            <a>
                <li><i class="fa-solid fa-list-check" style="color: #ffffff;"></i><span>Контент</span></li>
            </a>
            <a href="{% url 'users:manage-channel-customization' %}">
                <li><i class="fa-solid fa-wand-magic-sparkles" style="color: #ffffff;"></i><span>Кастомізація</span></li>
            </a>
        </ul>
    </div>
    <h2 class="section__title dashboard__section-title">Контент каналу</h2>
    <form method="POST" action="{% url 'videos:delete-video' %}">
    <div class="dashboard__actions">
        <p id="dashboard_video_counter">0 відео обрано</p>
        <div class="dashboard-actions__divider"></div>
        <button class="button dashboard__button" type="button" onclick="showDeleteVideoModal()">
            Видалити
        </button>

    </div>
    {% include 'users/popup/delete_video_popup.html' %}
    <div class="dashboard__content">
        <table class="dashboard__table">
            <thead>
                <tr>
                    <th><input type="checkbox" onclick="checkAllCheckboxes(this)"></th>
                    <th>Відео</th>
                    <th>Доступ</th>
                    <th>Дата</th>
                    <th>Перегляди</th>
                    <th>Коментарі</th>
                    <th>Лайки</th>
                </tr>
            </thead>
            <tbody>
                {% for video in videos %}
                <tr>
                    <td><input type="checkbox" name="video_select_checkbox" value="{{ video.id }}"></td>
                    <td>{% include 'videos/include/dashboard_video_card.html' %}</td>
                    <td>{{ video.visibility }}</td>
                    <td>{{ video.created_at }}</td>
                    <td>{{ video.views }}</td>
                    <td>{{ video.count_comments }}</td>
                    <td>{{ video.likes_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </form>
</div>


<script>
function checkAllCheckboxes(source) {
    checkboxes = document.getElementsByName('video_select_checkbox');
    for(let i=0, n=checkboxes.length; i<n; i++) {
        checkboxes[i].checked = source.checked;
    }

    updateVideoDeletePanel();
}

function updateVideoDeletePanel() {
    const numSelected = countSelectedVideos();
    setNumberOfVideos(numSelected);
}

function countSelectedVideos() {
    const checkboxes = document.querySelectorAll('input[name="video_select_checkbox"]:checked');
    const videoDeletePanel = document.getElementsByClassName('dashboard__actions')[0];
    videoDeletePanel.classList.toggle('show', checkboxes.length > 0);
    return checkboxes.length;
}

function setNumberOfVideos(num) {
    const numField = document.getElementById('dashboard_video_counter');
    numField.textContent = `${num} відео обрано`;
}

document.addEventListener('DOMContentLoaded', function () {
    const checkboxes = document.querySelectorAll('input[name="video_select_checkbox"]');
    
    checkboxes.forEach(function (checkbox) {
        checkbox.addEventListener('change', function () {
            setNumberOfVideos(countSelectedVideos());
        });
    });
});
</script>

<script>
function showDeleteVideoModal() {
      document.getElementById('deleteVideoModal').style.display = 'block';
}
  
function closeDeleteVideoModal() {
      document.getElementById('deleteVideoModal').style.display = 'none';
}
</script>
{% endblock %}