{% extends 'videos/base.html' %}
{% load static %}
{% block css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/users.css' %}?v=1">
    <link rel="stylesheet" type="text/css" href="{% static 'videos/css/shared.css' %}?v=1">
{% endblock css %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
<div class="channel-container">
    <div class="channel-header">
        <div class="channel-info">
            <h2>@{{ channel_name }}</h2>
            <p>{{ subscribers_count }} підписників · {{ video_count }} відео</p>
        </div>
        <form method="POST" action="{% url 'users:subscribe-to-channel' channel_object %}" onsubmit="subscribeFormSubmit(event)" class="dropdown" data-user-subscribed="{{ is_user_subscribed }}">
            {% csrf_token %}

            {% if request.user.is_authenticated %}
                {% if not is_owner %}
                    {% if is_user_subscribed %}

                    <button type="button" class="subscribe__button {% if is_user_subscribed %}subscribed dropbtn{% else %}{% endif %}" {% if is_user_subscribed %}onclick="showChannelActions()" {% endif %}>
                        {% if enabled_notifications %}
                        <i class="fa-solid fa-bell" style="color: #ffffff; padding-right: 10px;"></i>
                        {% else %}
                        <i class="fa-regular fa-bell" style="color: #ffffff; padding-right: 10px;"></i>
                        {% endif %}
                        Ви підписані ▼
                    </button>

                    {% include 'users/include/channel_actions_dropdown.html' %}

                    {% else %}

                    <button type="submit" class="subscribe__button">
                        Підписатися
                    </button>

                    {% endif %}

                {% else %}
                <button class="subscribe__button channel-owner__button" type="button" onclick="window.location.href='/u/manage/content/'">Редагувати</button>
                {% endif %}
            {% else %}
            <button class="subscribe__button">
                Підписатися
            </button>
            {% endif %}
        </form>
    </div>

    <div class="channel-menu">
        <button class="menu-tab" data-tab="videos">Відео</button>
        <button class="menu-tab" data-tab="playlists">Плейлiсти</button>
    </div>

    <div class="tab-content" id="videos">
        <div class="media__container">
            {% for video in videos %}
            {% include 'videos/include/video_card.html' %}
            {% empty %}
            <p>Нові відео користувача з'являться тут...</p>
            {% endfor %}
        </div>
    </div>

    <div class="tab-content" id="playlists" style="display: none;">

        <div class="media__container">
        {% for playlist in playlists %}
        {% include 'playlists/include/default_playlist.html' %}
        {% empty %}
        <p>Плейлисти користувача з'являться тут...</p>
        {% endfor %}
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tabs = document.querySelectorAll(".menu-tab");
        const contents = document.querySelectorAll(".tab-content");

        const defaultTab = document.querySelector("[data-tab='videos']");
        const defaultContent = document.getElementById("videos");

        defaultTab.classList.add("active");
        defaultContent.style.display = "block";

        tabs.forEach(tab => {
            tab.addEventListener("click", function () {
                tabs.forEach(t => t.classList.remove("active"));
                contents.forEach(c => c.style.display = "none");

                this.classList.add("active");
                document.getElementById(this.dataset.tab).style.display = "block";
            });
        });
    });
</script>

<script src="{% static 'users/js/channelActions.js' %}"></script>
{% endblock %}