{% extends 'videos/base.html' %}

{% block content %}
<div class="channel-container">
    <div class="channel-header">
        <div class="channel-info">
            <h2>@{{ channel_name }}</h2>
            <p>{{ subscribers_count }} підписників · {{ video_count }} відео</p>
        </div>
        <form method="POST" action="{% url 'users:subscribe-to-channel' channel_name %}">
        {% if request.user.is_authenticated %}
            {% if not is_owner %}
                {% csrf_token %}
                <button 
                class="subscribe-button {% if is_user_subscribed %}subscribed{% endif %}"
                type="submit"
                value="{{ channel_username }}"
                name="{{ channel_username }}"
                >
                {% if is_user_subscribed %}✔ Ви підписані
                {% else %} Підписатися
                {% endif %}
                </button>
                
            {% else %}
            <button class="subscribe-button channel-owner-btn" onclick="window.location.href='/u/manage/'">Редагувати</button>
            {% endif %}
            {% else %}
            <button class="subscribe-button" onclick="window.location.href='#'">Підписатися</button>
            {% endif %}
        </form>
    </div>

    <div class="channel-menu">
        <button class="menu-tab" data-tab="videos">Відео</button>
        <button class="menu-tab" data-tab="playlists">Плейлiсти</button>
    </div>

    <div class="tab-content" id="videos">
        <main class="main-container channel-view">
            {% for video in channel %}
            {% include 'videos/include/video_card.html' %}
            {% endfor %}
        </main>
    </div>

    <div class="tab-content" id="playlists" style="display: none;">
        <p>Плейлисты пользователя появятся здесь...</p>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const tabs = document.querySelectorAll(".menu-tab");
        const contents = document.querySelectorAll(".tab-content");

        const defaultTab = document.querySelector("[data-tab='videos']");
        const defaultContent = document.getElementById("videos");

        defaultTab.classList.add("active");
        defaultContent.style.display = "block";

        tabs.forEach(tab => {
            tab.addEventListener("click", function () {
                tabs.forEach(t => t.classList.remove("active"));
                contents.forEach(c => c.style.display = "none");

                this.classList.add("active");
                document.getElementById(this.dataset.tab).style.display = "block";
            });
        });
    });
</script>

{% endblock %}