{% extends 'videos/base.html' %}
{% load static %}
{% block css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/users.css' %}?v=1">
{% endblock css %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
<div class="subscriptions__wrapper">
    <h2 class="section__title">{{ section_title }}</h2>
    <div class="subscriptions__container">
        {% for subscription in subscriptions %}
        <div class="subscription__template">
            <a href="{% url 'users:channel-detail' subscription.following.username %}">
                <div class="subscription__pfp">{{ subscription.following.username|make_list|first }}</div>
            </a>

            <a href="{% url 'users:channel-detail' subscription.following.username %}">{{ subscription.following.username }}</a>
            <p>{{ subscription.subscribers_count }} підписників</p>
        </div>
        {% empty %}
        <p class="no-items">Немає підписок.</p>
        {% endfor%}

    </div>

    {% if subscriptions.has_other_pages %}
    <div class="pagination">
        {% if subscriptions.has_previous %}
            <a href="?page={{ subscriptions.previous_page_number }}">←</a>
        {% else %}
            <span class="disabled">←</span>
        {% endif %}

        {% for num in subscriptions.paginator.page_range %}
            {% if num == subscriptions.number %}
                <span class="active-page">{{ num }}</span>
            {% elif num >= subscriptions.number|add:-2 and num <= subscriptions.number|add:2 %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% elif num == 1 or num == subscriptions.paginator.num_pages %}
                <a href="?page={{ num }}">{{ num }}</a>
            {% elif num == subscriptions.number|add:-3 or num == subscriptions.number|add:3 %}
                <span>…</span>
            {% endif %}
        {% endfor %}

        {% if subscriptions.has_next %}
            <a href="?page={{ subscriptions.next_page_number }}">→</a>
        {% else %}
            <span class="disabled">→</span>
        {% endif %}
    </div>
    {% endif %}

</div>

{% endblock %}