{% extends 'videos/base.html' %}
{% load static %}
{% block css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'videos/css/shared.css' %}?v=1">
    <link rel="stylesheet" type="text/css" href="{% static 'users/css/users.css' %}?v=1">
{% endblock css %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
<div>
    <h2 class="section__title wh-section__title">Історія перегляду</h2>
    <div class="wh__container">
        {% for video in videos %}
            {% include 'videos/include/wh_video_card.html' %}
        {% empty %}
        <p class="no-items">Упс! Порожньо...</p>
         {% endfor %}
    </div>
</div>

{% endblock %}