<div class="comment" id="comment-{{ group.main.id }}">
    <div class="comment__body">
        <div class="comment__header">
            <a href="{% url 'users:channel-detail' group.main.user.username %}">
                <h4>@{{ group.main.user.username|escape }}</h4>
            </a>

            <span class="comment__datetime">{{ group.main.created_at|timesince }} тому</span>
        </div>
        <p>{{ group.main.text|escape }}</p>

        <div class="comment__actions">
            <button class="reply__button" onclick="toggleReplyForm('{{ group.main.id }}')">Відповісти</button>
            {% if group.replies %}
                <button class="toggle-replies__button" onclick="toggleReplies('{{ group.main.id }}')">
                    Показати відповіді ({{ group.replies|length }})
                </button>
            {% endif %}
        </div>

        <div class="reply__form" id="reply-form-{{ group.main.id }}" style="display: none;">
            <form method="POST" action="{% url 'videos:reply-to-comment' url=video.url pk=group.main.id %}">
                {% csrf_token %}
                <input type="hidden" name="parent_id" value="{{ group.main.id }}">
                <textarea name="reply_text" placeholder="Ваша відповідь..." required></textarea>
                <button class="button" type="submit">Відправити</button>
            </form>
        </div>
    </div>

    <div class="replies" id="replies-{{ group.main.id }}" style="display: none;">
        {% for reply in group.replies %}
            {% include 'videos/include/reply.html' %}
        {% endfor %}
    </div>
</div>