{% load custom_tags %}
<div class="video__card dashboard__video-card">
    <a class="video-card__thumbnail">
        <div class="video-card__duration">{{ video.duration|format_duration }}</div>
        <img src="{{ video.thumbnail.url }}" alt="Video thumbnail">
    </a>
    <div class="video-card__info wh-video-card__info">
        <div style="display: flex; justify-content: space-between;">
            <a href="{% url 'videos:edit-video' video.url %}" class="video-card__title dashboard-video-card__title">
                {{ video.title }}
            </a>
        </div>

        <div class="video-card__meta">
            <span class="wh-video-card__description">{{ video.description }}</span>
        </div>
    </div>
</div>
