<div class="video__card">
    <a href="{{ video.get_absolute_url }}">
        <img src="{{ video.thumbnail.url }}" alt="Video thumbnail">
    </a>
    <div class="video-card__info">
        <a href="{{ video.get_absolute_url }}" class="video-card__title">
            {{ video.title }}
        </a>
        <a href="{% url 'users:channel-detail' video.creator %}" class="video-card-creator__link">
            <p>@{{ video.creator }}</p>
        </a>
        <div class="video-card__meta">
            <span>{{ video.views }} views</span>
            <span>{{ video.created_at|timesince }} тому</span>
        </div>
    </div>
</div>
