{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Hosting</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'videos/css/styles.css' %}?v=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body data-is-authenticated="{{ user.is_authenticated|yesno:'true,false' }}">
    <header class="header">
        <div class="burger-menu" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </div>
        <a href="{% url 'videos:main-page' %}">
            <div class="logo"><img src="{% static 'videos/images/logo.png' %}"></div>
        </a>
        <div class="search-bar">
            <input type="text" placeholder="Search...">
        </div>
        <div class="actions">
            
            {% if user.is_authenticated %}
            <div>
                <a href="{% url 'videos:upload-video'%}">
                    <i class="fas fa-video"></i>
                </a>
            </div>
            <div class="notifications__container">
                <a onclick="showNotifications()">
                    <i class="fas fa-bell"></i>
                </a>

                <div class="notifications__page" id="notifications__page">
                    <h2 class="notifications-page__title">Повідомлення</h2>
                    <div class="notifications__list" id="notifications__list">
                        <!-- {% for notification in notifications %}
                        <div class="notification">
                            <div class="notification__content">
                                <p class="notification__text">{{ notification.message }}</p>
                                <p class="notification__timedate">{{ notification.timesince }}</p>
                            </div>
                        </div>
                        {% endfor %} -->
                    </div>
                </div>

            </div>

            {% endif %}
            <div>
                {% if request.user.is_authenticated %}
                <a href="{% url 'users:channel-detail' request.user.username %}">
                    <i class="fas fa-user"></i>
                </a>
                {% else %}
                <a href="{% url 'users:login-user' %}">
                    <i class="fas fa-user"></i>
                </a>
                {% endif %}
            </div>

        </div>
    </header>

    <nav class="side-menu" id="side-menu">
        <div class="close-menu" onclick="toggleMenu()">
            <i class="fas fa-times"></i>
        </div>
        <ul>
            <a href="{% url 'videos:main-page' %}">
                <li><i class="fas fa-home"></i><span>Головна</span></li>
            </a>
            <li><i class="fas fa-user-friends"></i><span>Підписки</span></li>
            <li><i class="fas fa-history"></i><span>Історія переглядів</span></li>
            {% if request.user.is_authenticated %}
            <a href="{% url 'playlists:playlist-list' request.user.username %}">
                <li><i class="fas fa-list"></i><span>Плейлисти</span></li>
            </a>
            {% else %}
            <a href="{% url 'users:login-user' %}">
                <li><i class="fas fa-list"></i><span>Плейлисти</span></li>
            </a>
            {% endif %}
            <li><i class="fas fa-clock"></i><span>Переглянути пізніше</span></li>
            <li><i class="fas fa-thumbs-up"></i><span>Сподобалися</span></li>
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock content %}
    </main>


<script src="{% static 'videos/js/showSideMenu.js' %}"></script>
<script src="{% static 'videos/js/showNotificationsMenu.js' %}"></script>
<script src="{% static 'videos/js/wsConnection.js' %}"></script>
<script src="{% static 'videos/js/fetchNotifications.js' %}"></script>
</body>
</html>