{% extends 'videos/base.html' %}
{% load static %}
{% block css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'videos/css/videos.css' %}?v=1">
    <link rel="stylesheet" type="text/css" href="{% static 'videos/css/shared.css' %}?v=1">
{% endblock css %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}
<div class="media__container">
    {% for video in videos %}

    {% include 'videos/include/video_card.html' %}

    {% empty %}
    <p class="no-items">Помилка при завантаженні відео.</p>
    {% endfor %}
</div>
{% endblock content %}