{% extends 'videos/base.html' %}
{% load static %}
{% block css %} 
    <link rel="stylesheet" type="text/css" href="{% static 'videos/css/videos.css' %}?v=1">
    <link rel="stylesheet" type="text/css" href="{% static 'videos/css/shared.css' %}?v=1">
{% endblock css %}
{% block title %} {{ title }} {% endblock title %}
{% block content %}

{% if random_video %}
<div>
    <h2 class="section__title">Випадковий момент</h2>
</div>
<form method="POST" action="{% url 'videos:random-video' %}" id="randomVideoForm">
    {% csrf_token %}
    <div>
        <button type="submit" class="refresh__button">
            <i class="fa-solid fa-arrows-rotate" style="color: #ffffff;"></i>
        </button>
    </div>
</form>
{% with video=random_video %}
<div class="random-video__container" id="random-video__container">
    {% include 'videos/include/video_card.html' %}
</div>
{% endwith %}

{% endif %}
<div>
    <h2 class="section__title">Популярні</h2>
</div>
<div class="media__container">
    {% for video in videos %}

    {% include 'videos/include/video_card.html' %}

    {% empty %}
    <p class="no-items">Помилка при завантаженні відео.</p>
    {% endfor %}
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'videos/js/randomVideo.js' %}" defer></script>
{% endblock scripts %}