{% extends 'videos/base.html' %}
{% load static %}
{% block content %}
<div>
    <div class="upload-form__container">
        <h2>Upload Video</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% for field in form %}
                    <div class="form__field">
                        {% if field.errors %}
                            {{ field.label_tag }} {{ field }}
                            <ul class="errorlist">
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            {% if field.name == 'description' %}
                            {{ field.label_tag }} {{ field }}
                            <p class="chars__counter">0/5000</p>
                            {% else %}
                            {{ field.label_tag }} {{ field }}
                            {% endif %}
                        {% endif %}
                    </div>
                {% endfor %}
            <div class="flex-end__aligner">
                <button class="button" type="submit">Завантажити</button>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'videos/js/textAreaCharsCount.js' %}"></script>
{% endblock %}
