{% extends 'videos/base.html' %}
{% load static %}
{% block content %}
<main>
    <div class="video-detail__page">
        <div class="video-detail__player">
            <video controls width="1920" height="1080" id="myVideo">
                <source src="{{ video.video.url }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="video-detail__details">
            <h1 class="video-detail__title">{{ video.title }}</h1>
            <div class="video-detail__flex">
                <div class="video-detail__flex">

                    <div class="video-detail-channel__info">
                        <div class="video-detail-channel__subscribe">
                            <div class="video-detail__flex-column">
                                <a href="{% url 'users:channel-detail' video.creator %}">
                                    <h3>@{{ video.creator }}</h3>
                                </a>
                                <p>{{ subscribers_count }} підписників</p>
                            </div>
                
                            <form method="POST" action="{% url 'users:subscribe-to-channel' video.creator %}" onsubmit="subscribeFormSubmit(event)" class="dropdown" data-user-subscribed="{{ is_user_subscribed }}">
                                {% csrf_token %}
                
                                {% if request.user.is_authenticated %}
                                    {% if not is_owner %}
                                        {% if is_user_subscribed %}
                
                                        <button type="button" class="subscribe__button {% if is_user_subscribed %}subscribed dropbtn{% else %}{% endif %}" {% if is_user_subscribed %}onclick="showChannelActions()" {% endif %}>
                                            {% if enabled_notifications %}
                                            <i class="fa-solid fa-bell" style="color: #ffffff; padding-right: 10px;"></i>
                                            {% else %}
                                            <i class="fa-regular fa-bell" style="color: #ffffff; padding-right: 10px;"></i>
                                            {% endif %}
                                            Ви підписані ▼
                                        </button>
                
                                        {% include 'users/include/channel_actions_dropdown.html' %}
                
                                        {% else %}
                
                                        <button type="submit" class="subscribe__button">
                                            Підписатися
                                        </button>
                
                                        {% endif %}
                
                                    {% else %}
                                    <button class="subscribe__button channel-owner__button" onclick="window.location.href='/u/manage/'">Редагувати</button>
                                    {% endif %}
                                {% else %}
                                <button class="subscribe__button">
                                    Підписатися
                                </button>
                                {% endif %}
                            </form>
                        </div>
                    </div>

                </div>
                <div>
                    <span class="video-detail__views-count">{{ video.views }} переглядів</span>
                </div>
            </div>

                <div class="video-detail__action-buttons">
                    <div style="display: flex; flex-direction: row; align-items: center; gap: 10px;">
                        <form method="POST" action="{% url 'videos:likes-video' video.url %}">
                            {% csrf_token %}
                            <button class="like__button {% if user_has_liked %}liked{% else %}not-liked{% endif %}" type="submit" value="{{ video.url }}" name="video_url">
                                <i class="fas fa-thumbs-up"></i>
                                <span class="like__count">{{ video.likes_count }}</span>
                            </button>
                        </form>
                        {% if not user_is_owner %}
                        <button class="media-action__button" onclick="openPlaylistModal()">
                            <i class="fas fa-bookmark"></i> Зберегти
                        </button>

                        {% include 'videos/popup/playlist_select_popup.html' %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="video-detail__description">
                <div>
                    <span class="video-detail__upload-date">{{ video.created_at }}</span>
                </div>
                <p class="video-detail__description_text">
                    {{ video.description }}
                </p>
            </div>

        </div>
        <div class="comments__section">
            <h2>Коментарі</h2>
            
            {% for group in grouped_comments %}
                {% include 'videos/include/comment.html' %}
            {% endfor %}
            
            <form class="comment__form" method="POST" action="{% url 'videos:comment-video' url=video.url %}">
                {% csrf_token %}
                <textarea name="comment_text" placeholder="Залиште коментар..." required></textarea>
                <div class="flex-end__aligner">
                    <button class="button comment__button" type="submit">Відправити</button>
                </div>
            </form>
        </div>
        
</main>
<script>
    function toggleReplyForm(commentId) {
        let form = document.getElementById('reply-form-' + commentId);
        form.style.display = form.style.display === 'none' ? 'block' : 'none';
    }

    function toggleReplies(commentId) {
        let replies = document.getElementById('replies-' + commentId);
        let button = document.querySelector(`#comment-${commentId} .toggle-replies`);
        
        if (replies.style.display === 'none') {
            replies.style.display = 'block';
            button.textContent = `Скрити відповіді (${replies.children.length})`;
        } else {
            replies.style.display = 'none';
            button.textContent = `Показати відповіді (${replies.children.length})`;
        }
    }

    function openPlaylistModal() {
        document.getElementById('playlistSelectModal').style.display = 'block';
    }

    function closePlaylistModal() {
        document.getElementById('playlistSelectModal').style.display = 'none';
    }

    var vid = document.getElementById("myVideo");
    vid.onended = function() {alert("The video has ended");};
</script>

<script src="{% static 'users/js/channelActions.js' %}"></script>

{% endblock content %}