{% extends 'videos/base.html' %}
{% load static %}
{% block content %}
<div class="auth__container">
    <h2>Увійти в акаунт</h2>
    <form method="POST" action="{% url 'users:login-user' %}">
        {% csrf_token %}
        {% if form.non_field_errors %}
        <ul class="errorlist">
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% for field in form %}
            <div class="form__field">
                {% if field.errors %}
                    {{ field.label_tag }} {{ field }}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    {{ field.label_tag }} {{ field }}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="button auth__button">Увійти в акаунт</button>
    </form>
    <p class="login-link">Ще не маєте акаунту?<a href="{% url 'users:register-user' %}">Зареєструватися</a></p>
</div>

<script src="{% static 'users/js/usernameFieldValidation.js' %}"></script>
{% endblock content %}