{% extends 'videos/base.html' %}
{% load static %}
{% block content %}
<div class="playlist-detail__container">
    <div class="playlist-detail__background">
        <div class="playlist-detail__header">
            <div class="playlist-spc-btwn__title">
                <h1 class="playlist-detail__title">
                    {{ playlist.title }}
                    
                </h1>

                {% if user_is_owner %}       
                         
                {% include 'playlists/include/playlist_actions_dropdown.html' %}
                    
                {% include 'playlists/popup/edit_playlist_popup.html' %}

                {% include 'playlists/popup/delete_playlist_popup.html' %}

                {% endif %}
                
                {% if not user_is_owner %}
                <form method="POST" action="{% url 'playlists:save-playlist-to-favorites' slug=playlist.slug username=playlist.creator.username %}">
                    {% csrf_token %}
                    <button class="media-action__button">
                        <i class="fas fa-bookmark"></i> Зберегти
                    </button>
                </form>
                {% endif %}

            </div>

            <div>
                <p class="playlist-detail__meta">Кількість відео: {{ playlist.count_videos }}</p> <br>
                <p class="playlist-detail__meta">Видимість: {{ playlist.visibility|lower }}</p>
            </div>
        </div>

        <div class="media__container">
            {% for video in videos%}
                {% include 'videos/include/video_card.html' %}
            {% empty %}
            <p class="no-items">Відео з'являться тут...</p>
            {% endfor %}
        </div>
    </div>
</div>

<script src="{% static 'playlists/js/playlistActions.js' %}"></script>
{% endblock content %}