{% extends 'videos/base.html' %}
{% load static %}
{% block content %}
<div class="playlists__container">
    <div class="playlist-spc-btwn__title">
        <div>
            <h2 class="section__title">Мої плейлисти</h2>
        </div>
        <div>
            <button class="media-action__button" onclick="newPlaylistModal()"">
                <i class="fa-solid fa-plus"></i> Додати
            </button>
            
            {% include 'playlists/popup/new_playlist_popup.html' %}

        </div>
    </div>
    
    <div class="media__container">
        {% for playlist in created_by_user_playlists %}

        {% include 'playlists/include/default_playlist.html' %}

        {% empty %}
        <p class="no-items">У вас ще немає плейлистів.</p>
        {% endfor %}
    </div>
    
    <h2 class="section__title">Збережені плейлисти</h2>
    <div class="media__container">
        {% for playlist in saved_by_user_playlists %}
        
        {% include 'playlists/include/saved_playlist.html' %}

        {% empty %}
        <p class="no-items">Немає збережених плейлистів.</p>
        {% endfor %}
    </div>
</div>

<script src="{% static 'playlists/js/newPlaylist.js' %}"></script>
<script src="{% static 'playlists/js/modalPopupClose.js' %}"></script>
{% endblock content %}